{% extends 'base.html.twig' %}

{% block title %}Gite Progica{% endblock %}

{% block body %}
  <section class="row title">
    <h1>Bienvenu chez PROGICA</h1>
  </section>
  <section class="row">

  </section>
{% endblock %}
